h3 {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding: 5px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    background-color: darkblue;
    color: white;
}

#name {
    text-align: center;
    width: auto;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}

#lblName:after {
    content: " * ";
    color: red;
}

#lblSize:after {
    content: " * ";
    color: red;
}

#lblDeliverly {
    width: auto;
    background-color: lightsteelblue;
    font-weight: bold;
}

#location {
    display: none;
}

#totals {
    font-weight: bold;
    background-color: turquoise;
    text-align: center;
}

body {
    background-color: lightgray;
    padding: 5px;
}